<!--<div class="header">
    <ul class="nav nav-pills pull-right">
        <li class="active"><a ng-href="#">Home</a></li>
        <li><a ng-href="#">About</a></li>
        <li><a ng-href="#">Contact</a></li>
    </ul>
    <h3 class="text-muted">morningPlanner</h3>
</div>--><clock format="HH:mm:ss"></clock><div class="jumbotron task-main"><h1>{{currentTask.time | date:'HH:mm'}} <small>{{currentTask.title}}</small></h1></div><div class="table-container"><table class="table table-condensed table-striped"><thead><tr><th>Tid</th><th>Aktivitet</th><tbody><tr ng-repeat="task in tasks" ng-class="{'task-row--active': task == currentTask, 'task-row--past': task.time < now() && task != currentTask}"><td>{{task.time | date:'HH:mm'}}</td><td>{{task.title}}</td></table></div><div class="footer"><p>Made by rasmusvhansen</p></div>